/* Reset général */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style du corps */
body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Conteneur principal */
.container {
    text-align: center;
    max-width: 600px;
    width: 100%;
    margin: auto;
}

.emulator-controls {
    margin-bottom: 20px;
}

.emulator-canvas {
    width: 100%;
    max-width: 480px;
    height: auto;
    background-color: #000;
}

/* Fixes de compatibilité */
.avatar_avatar__Qg_Wv {
    mask-image: radial-gradient(circle, white, black); /* Fallback pour Firefox */
}

html, body, :host {
    text-size-adjust: 100%;
}
